@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-header text-2xl sm:text-3xl mb-2;
  }

  h2 {
    @apply font-header text-xl sm:text-2xl mb-2;
  }

  h3 {
    @apply font-header text-lg sm:text-xl mb-2;
  }
}
