@font-face {
  font-family: "edosz";
  src: url("edosz.woff2");
}

html,
body {
  margin: 0;
  background-color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  display: block;
}

.tippy-tooltip.q-theme {
  background-color: rgb(31, 112, 242);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tippy-tooltip.q-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.q-theme .tippy-backdrop {
  background-color: rgb(31, 112, 242);
}

.tippy-tooltip.q-theme .tippy-roundarrow {
  fill: rgb(31, 112, 242);
}
